---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<main class="p-7">
        <h2 class="font-[Open_Sans]">Hola soy John</h2>
        <p class="font-[Open_Sans]">Bienvenido a mi página personal creada con Astro.</p>
        
    </main>
</Layout>